#container {
    display: flex;
    gap: 10px;
    width:100%;
    position:relative;
    margin:auto;
    width:80vw;
    height:90vh;
<<<<<<< HEAD
=======

}
>>>>>>> 6aa4b63f73b032c362c4fc3fa7d06a7524a0bdf6

}
#canvas{
    background-image: url("earthBackdrop.jpg");
    padding: 0;
    overflow: hidden;
}
h2 {
    position: absolute;
    top: 0px;
    left: 40px;
}
@font-face {
    font-family: "classicText";
    src: url("FlappybirdyRegular-KaBW.ttf");
}
<<<<<<< HEAD

=======
>>>>>>> 6aa4b63f73b032c362c4fc3fa7d06a7524a0bdf6
@font-face {
    font-family: "flappyNumbers";
    src: url("flappy-bird-font.ttf");
}
<<<<<<< HEAD

=======
>>>>>>> 6aa4b63f73b032c362c4fc3fa7d06a7524a0bdf6
#text{
    text-align: center;
    margin:auto;
    font-size: 200%;
    font-weight: bold;
    font-family: "classicText";
}

#endGame{
    text-align: center;
    margin:auto;
    font-size: 200%;
    font-weight: bold;
    font-family: "classicText";
}

#button{
    font-family: "classicText";
    text-align: center;
    padding: 10px;
    font-size: 7vh;
    border-radius: 15%;
    cursor: pointer;
    background-color: skyblue;
}

.statSpan{
    font-family: "flappyNumbers";
    font-size: 50px;
}

span{    
    font-family: flappyNumbers;
}

h2{
    font-family: "classicText";
    padding: 10px;
    font-size: 200%;
}

body{
    background-color: gray;
}
.statSpan{
    font-family: "flappyNumbers";
    font-size: 50px;
}

span{    
    font-family: flappyNumbers;
}

h2{
    font-family: "classicText";
    padding: 10px;
    font-size: 200%;
}