#flex{
    display: flex;
    gap: 10px;
    width: 80vw;
    height: 100vh;
    margin: auto;
}

#canvas{
    background-image: url("earthBackdrop.jpg");
    margin: 0;
    padding: 0;
    overflow: hidden;
}