h2{
    font-family: "classicText";
    text-align: center;
    padding: 10px;
    font-size: 7vh;
    cursor: grab;
}
h1{
    text-align: center;
    font-family: "classicText";
    padding: 20px;
    font-size: 9vh;
}
a{
    text-decoration: none;
}
body{
    background-image: url("earthBackdrop.jpg");
    background-repeat: no-repeat;
    background-size: 200vh;
}
@font-face {
    font-family: "classicText";
    src: url("FlappybirdyRegular-KaBW.ttf");
}
#Credits{
    text-align: center;
}
#backButton{
    visibility:hidden;
}