#header{
    margin: auto;
}
#description{
    grid-area: de;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#title{
    grid-area: ti;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}